[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
openai = "*"
pyyaml = "*"
dacite = "*"
install = "*"
aiohttp = "==3.9.0b0"
tiktoken = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "python src/main.py"
pm = "pm2 start \"pipenv run start\" --name owlly"
restart = "pm2 delete \"owlly\" && pipenv run pm"
dev = "nodemon --exec \"python src/main.py\" --watch src --ext py"
